<template>
    <form class="dialogue-form" @submit.prevent="onSubmit" ref="form">
        <input class="dialogue-form__input" v-model="message" type="text" placeholder="Введите текст..." :disabled="loading">
        <dialogue-button :disabled="!message || loading">
            <loader v-if="loading" class="inverted" />
            <img v-else class="send-icon" type="image/svg+xml" src="@/assets/send-button.svg">
        </dialogue-button>
    </form>
</template>

<script>
    import DialogueButton from './DialogueButton'
    import Loader from './Loader'
    export default {
        name: "DialogueForm",
        props: ['dialogueId'],
        data() {
            return {
                loading: false,
                message: ''
            }
        },
        components: {
            DialogueButton,
            Loader
        },
        methods: {
           onSubmit() {
               this.loading = true
               const formData = {
                   message: this.message,
                   dialogueId: this.dialogueId
               }
               this.$store.dispatch('sendMessage', formData).then(() => {
                   this.loading = false
                   this.$refs.form.reset()
                   this.message = ''
               })
            }
        }
    }
</script>

<style lang="less" scoped>
    .inverted{
        filter: invert(1);
    }
.dialogue-form{
    display: flex;
    height: 80px;
    width: 100%;
    .dialogue-form__input{
        flex-basis: calc(100% - 80px);
        border: none;
        border-top: 1px solid #E9EDF2;
        font-size: 14px;
        line-height: 20px;
        padding: 30px;
        color: #7D8790;
        box-shadow: none;
        outline: none;
    }
}
</style>