<template>
    <div class="dialogue-preview__content">
        <div class="dialogue-item" v-for="part of dialogue.parts" :key="part.id" :class="{reply: isReply(part.id)}">
            <span class="dialogue-item__content">{{part.text}}</span>
            <span class="dialogue-item__info">
                <span class="dialogue-item__info_author">{{part.author}}</span>
                <span class="dialogue-item__info_date">{{part.created}}</span>
            </span>
        </div>
        <dialogue-form :dialogueId="dialogue.id" />
    </div>
</template>

<script>
    import DialogueForm from './DialogueForm'
    import { mapGetters } from 'vuex'
    export default {
        name: "Dialogue",
        props: ['id'],
        components: {
            DialogueForm
        },
        computed: {
            ...mapGetters([
                'dialogues'
            ]),
            dialogue(){
                let id = Number(this.id)
                return this.$store.getters.dialogueById(id)
            }
        },
        methods: {
            isReply(id) {
                return !(id % 2)
            },
        },
    }
</script>

<style lang="less" scoped>
.dialogue-preview__content{
    display: flex;
    flex-direction: column;
    .dialogue-item{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 15px;
        padding-left: 40px;
        align-items: flex-end;
        .dialogue-item__content{
            width: 380px;
            padding: 25px 15px;
            background: #E9F5F4;
            border-radius: 8px 8px 0px 8px;
            font-size: 14px;
            line-height: 20px;
            color: #475453;
            margin-bottom: 10px;
            text-align: left;
        }
        .dialogue-item__info{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .dialogue-item__info_author{
                font-size: 13px;
                line-height: 18px;
                color: #000000;
                font-weight: bold;
                padding-right: 12px;
            }
            .dialogue-item__info_date{
                font-size: 10px;
                line-height: 14px;
                color: #B7C0C8;
            }
        }
        &.reply{
            align-items: flex-start;
            .dialogue-item__content{
                background: #F6F7F9;
                border-radius: 8px 8px 8px 0px;
            }
        }
    }
}
</style>