<template>
    <button class="dialogue-form__button">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        name: "DialogueButton"
    }
</script>

<style lang="less" scoped>
    .dialogue-form__button{
        flex-basis: 80px;
        box-shadow: none;
        outline: none;
        background: #398BFF;
        border: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            background: #327be2;
        }
        .send-icon{
            width: 22px;
        }
        &:disabled{
            background: #a0a0a0;
            cursor: not-allowed;
        }
    }
</style>