<template>
    <div class="dialogues-list__item" @click="chooseDialogue" :class="{active: isActive()}">
        <div class="dialogue-list-item-header">
            <span class="dialogue-list-item-header__title">{{dialogue.subject}}</span>
            <span class="dialogue-list-item-header__date">{{formattedDate}}</span>
        </div>
        <div class="dialogue-list-item-content">
            <span>{{dialogue.parts[0].text}}</span>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        name: "DialogueListItem",
        props: ['dialogueId'],
        computed: {
            formattedDate() {
                let dateToFormat = moment(this.dialogue.created, 'Y/M/D hh:mm').format('DD MMMM YYYY')
                return dateToFormat
            },
            dialogue(){
                return this.$store.getters.dialogueById(this.dialogueId)
            },
        },
        methods: {
            isActive(){
                return this.dialogue.id === Number(this.$route.params.id)
            },
            async chooseDialogue(){
                this.$emit('startLoading')
                await new Promise(resolve => {
                    setTimeout(() => {
                        resolve()
                        this.$router.push(`/home/dialogue/${this.dialogue.id}`)
                        this.$emit('stopLoading')
                    }, 1500)
                })

            }
        }
    }
</script>

<style lang="less" scoped>
    .dialogues-list__item{
        cursor: pointer;
        padding: 20px;
        height: 80px;
        border-bottom: 1px solid #E9EDF2;
        transition: background-color .3s;
        &.active{
            background-color: #fff;
            border-left: 2px solid #398BFF;
            padding-left: 18px;
        }
        &:hover{
            background: #e6e8ea;
        }
        .dialogue-list-item-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .dialogue-list-item-header__title{
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                color: #35383D;
            }
            .dialogue-list-item-header__date{
                font-size: 10px;
                line-height: 14px;
                text-align: right;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #7D8790;
            }
        }
        .dialogue-list-item-content{
            font-size: 13px;
            line-height: 18px;
            color: #7D8790;
            text-align: left;
            overflow: hidden;
            span{
                width: 85%;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 8px;
                user-select: none;
                text-align: left;
                white-space: nowrap;
            }
        }
    }
</style>