<template>
    <h1 class="placeholder">Выберите диалог</h1>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style lang="less" scoped>
.placeholder{
    height: 100%;
}
</style>