<template>
    <div class="container">
        <div class="dialogues-list">
            <slot name="list" />
        </div>
        <div class="dialogue-preview">
            <slot name="dialogue-preview" />
        </div>
    </div>
</template>

<script>
    export default {
        name: "layout"
    }
</script>

<style lang="less" scoped>
    .container{
        display: flex;
        flex-direction: row;
        height: 100%;
        min-height: 100vh;
        width: 100%;
        .dialogues-list{
            background: #F3F6F8;
            display: flex;
            flex-direction: column;
            flex-basis: 30%;
        }
        .dialogue-preview{
            background: #FFFFFF;
            box-shadow: -20px 0 20px -20px  rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            flex-basis: 70%;
            justify-content: flex-end;
        }
    }
</style>