<template>
    <div class="loading-container">
        <img class="loading" type="image/svg+xml" src="@/assets/refreshing.svg">
    </div>
</template>

<script>
    export default {
        name: "Loader"
    }
</script>

<style lang="less" scoped>
    .loading-container{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loading{
        animation: spin 4s linear infinite;
        height: 50%;
        width: 50%;
        max-width: 60px;
        max-height: 60px;
        opacity: .5;
    }
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform:rotate(360deg);
        }
    }
</style>