<template>
  <div id="app">
    <layout>
      <template v-slot:list>
        <dialogue-list-item v-for="dialogue of dialogues"
                            :key="dialogue.id"
                            :dialogueId="dialogue.id"
                            @startLoading="startLoading"
                            @stopLoading="stopLoading"
        />
      </template>
      <template v-slot:dialogue-preview>
        <loader v-if="loading"  />
        <router-view v-else />
      </template>
    </layout>
  </div>
</template>

<script>
    import layout from '@/components/layout'
    import Loader from '@/components/Loader'
    import DialogueListItem from '@/components/DialogueListItem'
    import { mapGetters } from 'vuex'
export default {
  name: 'app',
    data() {
      return {
          loading: false
      }
    },
    components: {
        layout,
        DialogueListItem,
        Loader
    },
    computed: {
        ...mapGetters([
            'dialogues'
        ]),
    },
    created() {
      this.loading = true
        this.$store.dispatch('getDiallogues').then(() => {
            this.loading = false
        })
    },
    methods: {
        startLoading() {
            this.loading = true
        },
        stopLoading() {
            this.loading = false
        },
    }
}
</script>

<style lang="less">
  @font-face {
    font-family: 'TT Norms';
    src: local('TT Norms Regular'), local('TT-Norms-Regular'),
    url('assets/fonts/TTNorms-Regular.woff2') format('woff2'),
    url('assets/fonts/TTNorms-Regular.woff') format('woff'),
    url('assets/fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  body{
    margin: 0;
  }
#app {
  font-family: 'TT Norms', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
